{{- $email := promptStringOnce . "email" "Email address" -}}
{{- $machineType := promptStringOnce . "machineType" "Machine type" -}}

[git]
    autoCommit = true
    autoPush = true

[data]
    email = {{ $email | quote }}
    machineType = {{ $machineType | quote }}
