eval "$(starship init zsh)"

{{ if eq .chezmoi.os "darwin" -}}
source ~/.zkbd/xterm-256color-apple-darwin25.0
[[ -n ${key[Left]} ]] && bindkey "${key[Left]}" backward-char
[[ -n ${key[Right]} ]] && bindkey "${key[Right]}" forward-char
[[ -n ${key[Down]} ]] && bindkey "${key[Down]}" down-line-or-search
[[ -n ${key[Up]} ]] && bindkey "${key[Up]}" up-line-or-search
[[ -n ${key[Home]} ]] && bindkey "${key[Home]}" beginning-of-line
[[ -n ${key[End]} ]] && bindkey  "${key[End]}" end-of-line
[[ -n ${key[Delete]} ]] && bindkey "${key[Delete]}" delete-char
{{- end }}

export EDITOR='vim'

alias tff="terraform fmt"
alias tfi="terraform init"
alias tf="terraform"
alias tfp="terraform plan"
alias k="kubectl"
alias ll="ls -la --color"
alias ghpr="gh pr create -a @me"

# Homebrew
export HOMEBREW_NO_ENV_HINTS=true

{{- if eq .chezmoi.os "darwin" }}
if [ -d '/opt/homebrew/opt/ruby' ]; then
  # Add ruby
  export PATH="/opt/homebrew/opt/ruby/bin:$PATH"
fi
{{- end }}

# Nix
if [ -d '/nix' ] || [ -d "$HOME/.nix-profile" ]; then
  if [ -e '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh' ]; then
    . '/nix/var/nix/profiles/default/etc/profile.d/nix-daemon.sh'
  fi
fi
# End Nix

# pyenv
if command -v pyenv >/dev/null 2>&1; then
  export PYENV_ROOT="$HOME/.pyenv"
  export PATH="$PYENV_ROOT/bin:$PATH"
  eval "$(pyenv init --path)"
fi
# End pyenv
{{- if eq .chezmoi.os "darwin" }}
# Android
if [ -d '/Applications/Android Studio.app' ]; then
  # Android exports (replace the username with yours)
  export ANDROID_SDK=/Users/bmorgan/Library/Android/sdk
  export ANDROID_SDK_ROOT=/Users/bmorgan/Library/Android/sdk

  # Assuming you downloaded the Android Studio app directly from https://developer.android.com/studio
  export JAVA_HOME="/Applications/Android Studio.app/Contents/jbr/Contents/Home/"

  # Update your PATH environment variable. I also added the emulator/platform tools here to have access to adb
  export PATH=$ANDROID_SDK/emulator:$ANDROID_SDK/tools:$ANDROID_SDK/platform-tools:$PATH
fi
# End Android
{{- end }}

# Load fzf
[ -f ~/.fzf.zsh ] && source ~/.fzf.zsh

# nvm
export NVM_DIR="$HOME/.nvm"
[ -s "$NVM_DIR/nvm.sh" ] && \. "$NVM_DIR/nvm.sh"  # This loads nvm
[ -s "$NVM_DIR/bash_completion" ] && \. "$NVM_DIR/bash_completion"  # This loads nvm bash_completion

# direnv
eval "$(direnv hook zsh)"

# claude
alias claude="/Users/bmorgan/.claude/local/claude"

# asdf
export PATH="${ASDF_DATA_DIR:-$HOME/.asdf}/shims:$PATH"
fpath=(${ASDF_DATA_DIR:-$HOME/.asdf}/completions $fpath)
autoload -Uz compinit && compinit

# zsh extensions
source /opt/homebrew/share/zsh-autosuggestions/zsh-autosuggestions.zsh
source /opt/homebrew/share/zsh-syntax-highlighting/zsh-syntax-highlighting.zsh

# Docker CLI
fpath=(/Users/bmorgan/.docker/completions $fpath)
autoload -Uz compinit
compinit

# pipx
export PATH="$PATH:/Users/bmorgan/.local/bin"
